{% load static %}
<aside id="menu-lateral">

  <div class="cont-info">

    <div class="app-log">
      <div class="container-img">
        <img class="img-app" src="{% static "images/logo_del_proyecto.svg" %}" alt="home" />
      </div>

      <div class="container-info">
        <h1 class="nombre-app">condosys</h1>
      </div>
    </div>

    <div class="aside-options">

      <div class="container-links{% if residencial_bloqueado %} bloqueado{% endif %}">

        {% for modulo in modulos_habilitados %}
        <a
          class="opt-modulo{% if request.resolver_match.url_name in modulo.activo_en %} active{% endif %}{% if modulo.clase_extra %} {{ modulo.clase_extra }}{% endif %}"
          href="{% url modulo.url %}"
        >
          <img src="{% static modulo.icono %}" alt="{{ modulo.alt }}" />
          <h4>{{ modulo.nombre }}</h4>
        </a>
        {% endfor %}

      </div>

    </div>


  </div>
  

  {% if request.user.is_authenticated %}
  <div class="usuario-sidebar">
    <button type="button" class="boton-usuario" id="boton-usuario" data-boton-cuenta aria-haspopup="true" aria-expanded="false" aria-controls="menu-usuario">
      <span class="avatar-usuario" aria-hidden="true">
        {% if request.user.avatar %}
        <img src="{{ request.user.avatar.url }}" alt="">
        {% elif request.user.avatar_url %}
        <img src="{{ request.user.avatar_url }}" alt="">
        {% else %}
        <span>{{ request.user.full_name|default:request.user.email|slice:":1"|upper }}</span>
        {% endif %}
      </span>
      <span class="info-usuario">
        <span class="nombre-usuario">{{ request.user.full_name|default:request.user.email }}</span>
        <span class="correo-usuario">{{ request.user.email }}</span>
      </span>
      <img class="icono-desplegar" src="{% static 'images/icons/blancos/chevron-abajo.svg' %}" alt="" aria-hidden="true">
    </button>
    {% include "componentes/menu_usuario.html" with sufijo='' %}
  </div>
  {% else %}
  <div class="usuario-sidebar">
    <div class="avatar-usuario" aria-hidden="true"><span>?</span></div>
    <div class="info-usuario">
      <span class="nombre-usuario">Invitado</span>
    </div>
  </div>
  {% endif %}


</aside>
