{% load static %}

<div class="panel-login">
  <div class="lado-izq">
    <div class="container-logo">
      <img src="{% static "images/logo_del_proyecto.svg" %}" alt="aka" class="img-logo" />
      <h1 class="nombre-app">CONDOSYS</h1>
    </div>
  </div>
  <div class="lado-der">
    <h2 class="titulo">Iniciar sesión</h2>

    {% if error %}
      <p role="alert">{{ error }}</p>
    {% endif %}

    <form action="" method="post" class="form">
      {% csrf_token %}
      <div class="inputs">
        <div class="container-input">
          <input
            type="email"
            name="email"
            class="input"
            id="email"
            placeholder=" "
            required
          />
          <label for="email">Email</label>
        </div>

        <div class="container-input">
          <input
            type="password"
            name="password"
            class="input"
            id="password"
            placeholder=" "
            required
          />
          <label for="password">Contraseña</label>
         
        </div>
         
      </div>

      <div class="container-btn">
        <button type="submit" class="btn-enviar">Acceder</button>
        <a href="" class="text-restrablecer">¿Se te ha olvidado la clave?</a>
      </div>
    </form>
  </div>
</div>
