{% load static %}
<aside>
  <div class="opt-modulo active">
    <img src="{% static 'images/icons/home.svg' %}" alt="home-icon" />
    <h4>Inicio</h4>
  </div>

  <div class="opt-modulo">
    <img src="{% static 'images/icons/city.svg' %}" alt="city-icon" />
    <h4>Departamentos</h4>
  </div>

  <div class="opt-modulo">
    <img src="{% static 'images/icons/group.svg' %}" alt="group-icon" />
    <h4>Residentes</h4>
  </div>

  <div class="opt-modulo">
    <img src="{% static 'images/icons/wallet.svg' %}" alt="waallet-icon" />
    <h4>Pagos</h4>
  </div>

  <div class="opt-modulo">
    <img
      src="{% static 'images/icons/message-text.svg' %}"
      alt="message-icon"
    />
    <h4>Incidencias</h4>
  </div>

  <div class="opt-modulo">
    <img src="{% static 'images/icons/community.svg' %}" alt="community-icon" />
    <h4>Visitantes</h4>
  </div>

  <div class="opt-modulo">
    <img src="{% static 'images/icons/neighbourhood.svg' %}" alt="neigh-icon" />
    <h4>Areas Comunes</h4>
  </div>

  <div class="opt-modulo">
    <img
      src="{% static 'images/icons/chat-bubble-empty.svg' %}"
      alt="chat-icon"
    />
    <h4>Comunicados</h4>
  </div>

  <div class="opt-modulo">
    <img src="{% static 'images/icons/settings.svg' %}" alt="settings-icon" />
    <h4>Mantenimientos</h4>
  </div>
</aside>
