{% load static %}
<aside>

  <div class="cont-info">

    <div class="app-log">
      <div class="container-img">
        <img class="img-app" src="{% static "images/logo_del_proyecto.svg" %}" alt="home" />
      </div>

      <div class="container-info">
        <h1 class="nombre-app">Condosys</h1>
      </div>
    </div>

    <div class="aside-options">

      <div class="container-links">
        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'inicio' %} active{% endif %}"
          href="{% url 'inicio' %}"

        >
        {% if request.resolver_match.url_name == 'inicio' %}

          <img src="{% static 'images/icons/verdes/Container_green.svg' %}" alt="home-icon" />
 
        {% else %}

          <img src="{% static 'images/icons/blancos/Container_white.svg' %}" alt="home-icon" />
      
        {% endif %}

          

          <h4>Inicio</h4>
        </a>

        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'structure_index' %} active{% endif %}"
          href="{% url 'structure_index' %}"
        >

        {% if request.resolver_match.url_name == 'structure_index' %}

          <img src="{% static 'images/icons/verdes/city_green.svg' %}" alt="city-icon" /> 
        {% else %}
          <img src="{% static 'images/icons/blancos/city_white.svg' %}" alt="city-icon" />
      
        {% endif %}
        
          <h4>Departamentos</h4>
        </a>

        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'residents_index' %} active{% endif %}"
          href="{% url 'residents_index' %}"
        >

        {% if request.resolver_match.url_name == 'residents_index' %}

          <img src="{% static 'images/icons/verdes/group_green.svg' %}" alt="group-icon" /> 
        {% else %}
          <img src="{% static 'images/icons/blancos/group_white.svg' %}" alt="group-icon" />
      
        {% endif %}
          
          <h4>Residentes</h4>
        </a>

        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'payments_index' %} active{% endif %}"
          href="{% url 'payments_index' %}"
        >

        {% if request.resolver_match.url_name == 'payments_index' %}

          <img src="{% static 'images/icons/verdes/lot-of-cash_green.svg' %}" alt="waallet-icon" />
        {% else %}
          <img src="{% static 'images/icons/blancos/lot-of-cash_white.svg' %}" alt="waallet-icon" />
      
        {% endif %}
        
          <h4>Pagos</h4>
        </a>

        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'incidents_index' %} active{% endif %}"
          href="{% url 'incidents_index' %}"
        >

        {% if request.resolver_match.url_name == 'incidents_index' %}

          <img src="{% static 'images/icons/verdes/warning-triangle_green.svg' %}" alt="message-icon"/>
        {% else %}
          <img src="{% static 'images/icons/blancos/warning-triangle_white.svg' %}" alt="message-icon"/>
      
        {% endif %}
         
          <h4>Incidencias</h4>
        </a>

        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'visitors_index' %} active{% endif %}"
          href="{% url 'visitors_index' %}"
        >

        {% if request.resolver_match.url_name == 'visitors_index' %}

          <img src="{% static 'images/icons/verdes/community_green.svg' %}" alt="community-icon"/>
        {% else %}
          <img src="{% static 'images/icons/blancos/community_white.svg' %}" alt="community-icon"/>
      
        {% endif %}
          
          <h4>Visitantes</h4>
        </a>

        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'reservations_index' %} active{% endif %}"
          href="{% url 'reservations_index' %}"
        >

        {% if request.resolver_match.url_name == 'reservations_index' %}

          <img src="{% static 'images/icons/verdes/leaf_green.svg' %}" alt="neigh-icon"/>
        {% else %}
          <img src="{% static 'images/icons/blancos/leaf_white.svg' %}" alt="neigh-icon"/>
      
        {% endif %}
         
          <h4>Areas Comunes</h4>
        </a>

        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'communications_index' %} active{% endif %}"
          href="{% url 'communications_index' %}"
        >

        {% if request.resolver_match.url_name == 'communications_index' %}

          <img src="{% static 'images/icons/verdes/voice_green.svg' %}" alt="chat-icon"/>
        {% else %}
          <img src="{% static 'images/icons/blancos/voice_white.svg' %}" alt="chat-icon"/>
      
        {% endif %}
         
          <h4>Comunicados</h4>
        </a>

        <a
          class="opt-modulo{% if request.resolver_match.url_name == 'maintenance_index' %} active{% endif %}"
          href="{% url 'maintenance_index' %}"
        >

        {% if request.resolver_match.url_name == 'communications_index' %}

          <img src="{% static 'images/icons/verdes/reports_green.svg' %}" alt="settings-icon" />
        {% else %}
          <img src="{% static 'images/icons/blancos/reports_white.svg' %}" alt="settings-icon" /> 
          
        
        {% endif %}
          
          <h4>Mantenimientos</h4>
        </a>

      </div>

    </div>


  </div>
  

  <div class="container-links">

    <span class="otras-opciones" role="button">
      <img src="{% static "images/icons/settings.svg" %}" alt="config">
      Configuración
    
    </span>

    <span class="otras-opciones" role="button">
      <img src="{% static "images/icons/question-mark.svg" %}" alt="interrogante">
      Ayuda
    
    </span>

    <span class="otras-opciones" role="button">
      <img src="{% static "images/icons/log-out.svg" %}" alt="config">
      Cerrar Sesión
    
    </span>
  </div>


</aside>
