<header>
    <div class="header-info">
        <div class="header-brand">Condosys</div>
        <div class="header-title">Dashboard</div>
        <div class="header-actions">
            <button class="btn-add">Agregar</button>
            <img class="icon-btn" src="{% static "images/icons/bell-notification.svg" %}" alt="Bell-notification-icon">
            <img class="icon-btn" src="{% static "images/icons/user.svg" %}" alt="User-icon">
            <p>{{ nombre }}<p/>
        </div>
    </div>
</header>