@import url(variables.css);

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-50);
}

.container{
    max-width: 1400px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.panel-login{
    width: 720px;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 16px;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.2);
}

/* LADOS DEL PANEL */

.lado-izq, .lado-der{
    padding: 3.5rem;
}

.lado-izq{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green-800);
    border-radius: 16px 0 0 16px;
}

.nombre-app{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -.5px;
    color: #ffffff;
}

.lado-der{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--white-50);
    border-radius: 0 16px 16px 0 ;

}

.titulo{
    font-size: 3rem;
    font-weight: 600;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 6.5rem;
}



.container-input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 8px;
}

.input{
    width: 100%;
    outline: none;
    border: 1px solid var(--green-200);
    padding: .85rem 1.2rem;
    border-radius: 10px;
    font-size: 1.6rem;
    color: var(--black-400);
    font-weight: 520;

}

.text-restrablecer{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--green-800);
    text-decoration: none;
    transition: ease-out 250ms;
}

.text-restrablecer:hover{
    color: var(--green-200);
    text-decoration: underline;
}

.container-btn{
    display: flex;
    justify-content: center;
    
}

.btn-enviar{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-50);
    background-color: var(--green-900);
    padding: 1.2rem 2.4rem;
    border-radius: 8px;
    cursor: pointer;
}