# Para actualizarlas: .venv\Scripts\python.exe -m pip install --upgrade -r requirements.txt

Django
djangorestframework
django-filter
django-cors-headers
psycopg

# Real-time & WebSocket
channels
channels-redis
daphne

# Utilities
python-dotenv
celery
redis
Pillow

# Production
gunicorn
whitenoise

# Development
django-extensions
django-debug-toolbar