@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{

    font-size: 62.5%;

    /* TONOS BLANCOS */
    
    --white-50: #fefefe;
    --white-100: #fbfbfb;
    --white-200: #f9f9f9;
    --white-300: #f6f6f6;
    --white-400: #f5f5f5;
    --white-500: #f2f2f2;
    --white-600: #dcdcdc;
    --white-700: #acacac;
    --white-800: #858585;
    --white-900: #666666;



    /* TONOS NEGROS */
    --black-50: #E7E7E7;
    --black-100: #B5B6B4;
    --black-200: #929290;
    --black-300: #60605d;
    --black-400: #41413D;
    --black-500: #11120D;
    --black-600: #0f100c;
    --black-700: #0c0d09;
    --black-800: #090a07;
    --black-900: #070805;

    /* TONOS VERDERS */

    --green-50: #ecf8ef;
    --green-100: #c5e9cd;
    --green-200: #a9deb4;
    --green-300: #81cf92;
    --green-400: #69c57d;
    --green-500: #43b755;
    --green-600: #3da755;
    --green-700: #308242;
    --green-800: #256533;
    --green-900: #1c4d27;

     /* TONOS AZULES */

    --blue-50: #e6f4ff;
    --blue-100: #b0deff;
    --blue-200: #8aceff;
    --blue-300: #54b8ff;
    --blue-400: #33aaff;
    --blue-500: #0095ff;
    --blue-600: #0088e8;
    --blue-700: #006ab5;
    --blue-800: #00528c;
    --blue-900: #003f6b;


    /* TONOS ROJOS */
    --red-50: #FDECEC;
    --red-100: #FAC5C3;
    --red-200: #F7A9A7;
    --red-300: #F4827E;
    --red-400: #F16965;
    --red-500: #EE443F;
    --red-600: #D93E39;
    --red-700: #A9302D;
    --red-800: #832523;
    --red-900: #641D1A;


    /*TONOS AMARILLOS*/
    --yellow-50: #FFF7E6;
    --yellow-100: #FFE5B0;
    --yellow-200: #FFD88A;
    --yellow-300: #FFC654;
    --yellow-400: #FFBB33;
    --yellow-500: #FFAA00;
    --yellow-600: #E89B00;
    --yellow-700: #B57900;
    --yellow-800: #8C5E00;
    --yellow-900: #6B4700;

    
    
    /* SOMBRAS */
            
    /* Shadows */

    --shadow-100: 100px;
    --shadow-200: 200px;
    --shadow-300: 300px;
    --shadow-400: 400px;
    --shadow-500: 500px;
    --shadow-600: 600px;
    --shadow-700: 700px;
    --shadow-800: 800px;
    --shadow-900: 900px;


    /* Border */

    --border-0: 0;
    --border-2: 2;
    --border-4: 4;
    --border-8: 8;
    --border-16: 16;
    --border-24: 24;
    --border-32: 32;
    --border-40: 40;
    --border-48: 48;
    --border-56: 56;
    --border-64: 64;
    --border-72: 72;
    --border-80: 80;
    --border-88: 88;
    --border-96: 96;
    --border-104: 104;
    --border-112: 112;
    --border-120: 120;
    --border-128: 128;
    --border-136: 136;
    --border-144: 144;
    --border-152: 152;
    --border-160: 160;
    --border-168: 168;
    --border-176: 176;
    --border-184: 184;
    --border-192: 192;


    /* Border Radius */

    --borderR-0: 0rem;
    --borderR-2: 0.2rem;
    --borderR-4: 0.4rem;
    --borderR-8: 0.8rem;
    --borderR-16: 1.6rem;
    --borderR-24: 2.4rem;
    --borderR-32: 3.2rem;
    --borderR-40: 4rem;
    --borderR-48: 4.8rem;
    --borderR-56: 5.6rem;
    --borderR-64: 6.4rem;
    --borderR-72: 7.2rem;
    --borderR-80: 8rem;
    --borderR-88: 8.8rem;
    --borderR-96: 9.6rem;
    --borderR-104: 10.4rem;
    --borderR-112: 11.2rem;
    --borderR-120: 12rem;
    --borderR-128: 12.8rem;
    --borderR-136: 13.6rem;
    --borderR-144: 14.4rem;
    --borderR-152: 15.2rem;
    --borderR-160: 16rem;
    --borderR-168: 16.8rem;
    --borderR-176: 17.6rem;
    --borderR-184: 18.4rem;
    --borderR-192: 19.2rem;


    /* Margin */

    --margin-0: 0px;
    --margin-2: 2px;
    --margin-4: 4px;
    --margin-8: 8px;
    --margin-12: 12px;
    --margin-16: 16px;
    --margin-24: 24px;
    --margin-32: 32px;
    --margin-40: 40px;
    --margin-48: 48px;
    --margin-56: 56px;
    --margin-64: 64px;
    --margin-72: 72px;
    --margin-80: 80px;
    --margin-88: 88px;
    --margin-96: 96pxpx;
    --margin-104: 104px;
    --margin-112: 112px;
    --margin-120: 120px;
    --margin-128: 128px;
    --margin-136: 136px;
    --margin-144: 144px;
    --margin-152: 152px;
    --margin-160: 160px;
    --margin-168: 168px;
    --margin-176: 176px;
    --margin-184: 184px;
    --margin-192: 192px;

    /* Padding */

    --padding-0: 0rem;
    --padding-2: 0.2rem;
    --padding-4: 0.4rem;
    --padding-8: 0.8rem;
    --padding-12: 1.2rem;
    --padding-16: 1.6rem;
    --padding-24: 2.4rem;
    --padding-32: 3.2rem;
    --padding-40: 40rem;
    --padding-48: 4.8rem;
    --padding-56: 5.6rem;
    --padding-64: 6.4rem;
    --padding-72: 7.2rem;
    --padding-80: 80rem;
    --padding-88: 8.8rem;
    --padding-96: 9.6rem;
    --padding-104: 10.4rem;
    --padding-112: 11.2rem;
    --padding-120: 12rem;
    --padding-128: 12.8rem;
    --padding-136: 13.6rem;
    --padding-144: 14.4rem;
    --padding-152: 15.2rem;
    --padding-160: 16rem;
    --padding-168: 16.8rem;
    --padding-176: 17.6rem;
    --padding-184: 18.4rem;
    --padding-192: 19.2rem;

    /* Space */

    --space-0: 0rem;
    --space-2: 0.2rem;
    --space-4: 0.4rem;
    --space-8: 0.8rem;
    --space-16: 1.6rem;
    --space-24: 2.4rem;
    --space-32: 3.2rem;
    --space-40: 4rem;
    --space-48: 4.8rem;
    --space-56: 5.6rem;
    --space-64: 6.4rem;
    --space-72: 7.2rem;
    --space-80: 8rem;
    --space-88: 8.8rem;
    --space-96: 9.6rem;
    --space-104: 10.4rem;
    --space-112: 11.2rem;
    --space-120: 12.0rem;
    --space-128: 12.8rem;
    --space-136: 13.6rem;
    --space-144: 14.4rem;
    --space-152: 15.2rem;
    --space-160: 16rem;
    --space-168: 16.8rem;
    --space-176: 17.6rem;
    --space-184: 18.4rem;
    --space-192: 19.2rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}