{% extends 'base.html' %} {% block contenido %}
{% include "componentes/header.html" with nombre_modulo=module_name %}
<main class="container-main-side2">
  <form method="post" action="{% url 'crear_usuario' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="pie-formulario">
      <button type="submit">Guardar</button>
    </div>
  </form>

  <hr />

  <form method="post" action="{% url 'crear_usuario_nuevo' %}">
    {% csrf_token %}
    {{ form_user_create.as_p }}
    <div class="pie-formulario">
      <button type="submit">Guardar</button>
    </div>
  </form>
</main>
{% endblock %}