{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Condosys{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/mediaquerys.css" %}">
    <link rel="stylesheet" href="{% static "css/formularios.css" %}">
    <link rel="stylesheet" href="{% static "css/acciones.css" %}">
    <link rel="stylesheet" href="{% static "css/dialogos.css" %}">
    <link rel="stylesheet" href="{% static "css/paginacion.css" %}">
    <link rel="stylesheet" href="{% static "css/entradas.css" %}">
    <link rel="icon" type="image/svg+xml" href="{% static "images/logo_del_proyecto.svg" %}">
    {% block extra_css %}{% endblock %}

</head>
<body>

    <div class="container">

        {% include "componentes/aside.html" %}

        <main class="main-layout">

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="messages-{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block mini-cards %}
            {% endblock %}

            {% block contenido %}
            {% endblock %}

        </main>

    </div>

    <script src="{% static "js/contadores.js" %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>